@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Jost', sans-serif;
    color: #07031A;
    position: relative;
}

* {
    color: #07031A;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
    border: none;
}

h1 {font-size: 3em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1em;}
h5 {font-size: 1em;}
h6 {font-size: 1em;}
p { font-size: 1em;}
small {font-size: 0.75em;}

.center-text {
    text-align: center;
}


.headline-wrapper {
    display: flex;
}
.headline-wrapper .headline-inner {
    margin: 0 auto;
    padding: 15px 30px;
    max-width: 768px;
}
.headline-wrapper .headline-inner {
    margin: 30px auto;
    max-width: 768px;
    text-align: center;
}
.headline-wrapper .headline-inner h1 {
    margin: 0;
}
.headline-wrapper .headline-inner p {
    margin: 0;
    font-size: 1.5em;
}

/* FORM ELEMENTS */
input:focus,
textarea:focus {
    outline:none;
}
button {
    border: none;
    cursor: pointer;
}

/* HEADER */
header {
    display: block;
    float: left;
    width: 100%;
    height: 75px;
    line-height: 75px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* Logo */
#primary-logo {
    position: absolute;
    top:0;
    left: 0;

    width: auto;
    height: 75px;
}
#primary-logo img {
    margin: 20px 15px;
    width: auto;
    height: 35px;
}

/* Primary Navigation */
.primary-nav {
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,0%);

    height: 75px;
    padding: 0 10px;
}
.primary-nav ul {
    margin: 0;
    display: flex;
    margin-right: 0;
    padding: 0;
    list-style: none;
}

.primary-nav ul li.top-link {
    display: none;
}

.primary-nav ul li a {
    font-size: 18px;
    padding: 0 15px;
    opacity: 0.8;
}
.primary-nav ul li a:hover {
    opacity: 1;
}
.primary-nav ul li a i {
    color: inherit;
}

/* Primary CTA */

#primary-button {
    position: absolute;
    top:0;
    right: 0;

    height: 75px;
}

#primary-button a {
    float: left;
    width: auto;
    display: inline;
}

#primary-button a.contact {

    height: 55px;
    line-height: 55px;
    margin: 10px 0;
    padding: 0 15px;

    background-color: #fff;
    color: #222;

    border-radius: 2px;
    opacity: 0.9;
}

#primary-button a.call-to-action {

    height: 55px;
    line-height: 55px;
    margin: 10px 10px;
    padding: 0 15px;

    background-color: #ffcc00;
    color: #222;

    border-radius: 4px;
    opacity: 0.9;
}
#primary-button a.call-to-action::after {
    content: "Make a booking";
}

#primary-button i {
    color: inherit;
}
#primary-button a:hover {
    background-color: #ffcc00;
    color: #222;
    opacity: 1;
}
#primary-button a.contact::after {
    content: "Contact Us";
}
#primary-button a.contact:hover {
    background-color: #eee;
    color: #222;
    opacity: 1;

}

/* ON PAGE */
#home-link .home-link a i,
.home-link:hover a i,
#trip-link .trip-link a i,
.trip-link:hover a i,
#team-link .team-link a i,
.team-link:hover a i,
#top-link .top-link a i {
    color: #ffcc00;
}

/* MAIN WRAPPER*/

main {
    background-color: white;
    padding: 75px 0 0 0;
}



/* SECTIONS */
section {
    overflow: hidden;
}

#home-hero {
    width: 100%;
    padding-top: 31%;
    background-size: cover;
    position: relative;
    transition: all 1s ease-in;
    background: url("../images/pexels-pixabay-259447.jpg") no-repeat center center;
}

#home-hero > h1 {
    position: absolute;
    top:50%;
    left: 0%;
    transform: translate(-0%,-50%);
    width: auto;
    text-align: left;
    margin: 0 auto;
    padding:30px;
    line-height: 90%;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px rgba(0,0,0,0.75);
    background: rgba(255,204,0,0.95);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#home-trips {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    margin: 0 auto;
    max-width: 1920px;
}
#home-trips .trips {
    position: relative;
    margin-bottom: 1em;
}
#home-trips .trips p {
    text-align: center;
    display: none;
    font-size: 2em;
    margin: 0;
    padding: 10%;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0%;
    left: 0%;
    transform: translate(-0%,-0%);
    background-color: rgba(0,0,0,0.75);
    color: #fff;
}

#home-trips .trips:hover p {
    display: block;
}

#home-trips .trip-capetown,
#home-trips .trip-activity-two,
#home-trips .trip-kurgerpark {
    width: 100%;
    height: 350px;
    padding: 1em;
    opacity: 1;
}
#home-trips > .trip-capetown h2,
#home-trips > .trip-activity-two h2,
#home-trips > .trip-kurgerpark h2 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 2px #333333;
}
#home-trips > .trip-capetown {
    background-color: aqua;
    background: url("../images/pexels-op-13791865.jpg") no-repeat center center;
    background-size: cover;
}
#home-trips > .trip-activity-two {
    background-color: antiquewhite;
    background: url("../images/pexels-pixabay-259447.jpg") no-repeat center center;
    background-size: cover;
}
#home-trips > .trip-kurgerpark {
    background-color:azure;
    background: url("../images/home-lions.jpg") no-repeat center center;
    background-size: cover;
}
#home-trips > .trip-capetown:hover,
#home-trips > .trip-activity-two:hover,
#home-trips > .trip-kurgerpark:hover {
    opacity: 1;
}

#home-gallery {
    clear: both;
    line-height: 0;
    column-count: 6;
    column-gap:0;
    margin: 1em;
}
#home-gallery > div {
    position: relative;
}
#home-gallery > div > img {
    width: 100%;
}
#home-gallery > div:hover > img {
    width: 100%;
}
#home-gallery > div > p {
    padding: 5px;
    text-align: center;
    line-height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    position: absolute;
    bottom:0%;
    left: 50%;
    transform: translate(-50%,-0%);
}
#home-gallery > div > p > strong {
    color: #fff;
    display: block;
    line-height: 150%;
}
#home-gallery > div > p > em {
    color: #fff;
    display: block;
    line-height: 150%;
}


/* TESTIMONIALS */

#home-testimonials {
    column-count: 4;
    column-width: 25%;
    padding: 2.5%;
    column-gap: 2rem;
}
#home-testimonials .profile .face {
    margin: 0 auto 10px auto;
    width: 125px;
    height: 125px;
    position: relative;
    overflow: hidden;
    border-radius:75px!important;
}
#home-testimonials .profile .face img {
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    filter: grayscale(1);
}
#home-testimonials .profile p {
    font-size: 12px;
    font-weight: 300;
}
#home-testimonials .profile em {
    font-size: 14px;
    font-weight: 500;
}
#home-testimonials .profile em::before {
    content: open-quote;
}
#home-testimonials .profile em::after {
    content: close-quote;
}



/* PACKAGES */





#package-list {
    padding: 2em;
    display: flex;
    justify-content:space-evenly;
    column-gap: 2em;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}
#package-list > div {
    width: 100%;
    padding: 2em;
    border: 1px solid #eee;
}


#package-list > div > .summer,
#package-list > div > .winter {
    height: 350px;
    background-color: #eee;
    padding: 1em;
    opacity: 1;
}
#package-list .summer h2,
#package-list .winter h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    line-height: 125%;
    color: #fff;
    text-shadow: 2px 2px #333333;
}
#package-list .summer h3,
#package-list .winter h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    text-shadow: 2px 2px #333333;
}
#package-list .summer h4,
#package-list .winter h4 {
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 2em;
    line-height: 1em;
    color: #fff;
    text-shadow: 2px 2px #333333;
}
#package-list .summer h4 small,
#package-list .winter h4 small {
    display: block;
    font-size: 16px;
    color: #fff;
}
#package-list .summer {
    background-color: aqua;
    background: url("../images/pexels-op-13791865.jpg") no-repeat center center;
    background-size: cover;
}
#package-list .winter {
    background-color:azure;
    background: url("../images/pexels-ruben-verla-11153531.jpg") no-repeat center center;
    background-size: cover;
}
#package-list .summer:hover,
#package-list .winter:hover {
    opacity: 1;
}
#package-list hr {
    display: block;
}

#package-list .usp {
    margin: -40px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
#package-list .usp li {
    position: relative;
    background-color: #4F8A8B;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
}
#package-list .usp li i {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #fff;

}
#package-list .usp li span {
    position: absolute;
    top:110%;
    left: 50%;
    transform: translate(-50%,-0%);
    font-size: 12px;
    display: block;
    white-space: nowrap;

}
#package-list .desc {
    margin: 45px 0 15px 0;
}
#package-list h3 {
    color: #4F8A8B;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}
#package-list h4 {
    color: #4F8A8B;
    font-size: 2em;
    margin: 0;
    padding: 0;
}
#package-list h5 {
    color: #4F8A8B;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}
#package-list p {
    margin: 0;
    padding: 0 0 15px 0;
}
#package-list ul {
    margin: 0 0 15px 15px;
    padding: 0;
}
#package-list button {
    float: right;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;

    width: 155px;
    height: 55px;
    line-height: 55px;
    padding: 0 15px;

    background-color: #4F8A8B;
    color: #fff;

    border-radius: 4px;
    opacity: 0.9;
}


/* TEAM */

#team-founder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1366px;
    height: 512px;
}
#team-founder > div {
    width: 100%;
    height: 512px;
    text-align: center;
    position: relative;
    display: table;
}
#team-founder > div > img {
    margin: 0 auto;
}
#team-founder > div > div.quote {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#team-founder > div > div.quote h1 {
    margin: 0;
    padding: 0;
    color: #4F8A8B;
}
#team-founder > div > div.quote blockquote {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
}
#team-founder > div > div.quote p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 2em;
}
#team-founder > div > div.quote small {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

/* STAFF MEMBERS */

#staff-profiles {
    clear: both;
    line-height: 0;
    column-count: 6;
    column-gap: 0;
    margin: 0 auto;
}
#staff-profiles > div {
    position: relative;
}
#staff-profiles > div > img {
    width: 100%;
    filter: grayscale(0.5);
}
#staff-profiles > div:hover > img {
    width: 100%;
    filter: grayscale(0);
}
#staff-profiles > div > p {
    padding: 5px;
    text-align: center;
    line-height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    position: absolute;
    bottom:0%;
    left: 50%;
    transform: translate(-50%,-0%);
}
#staff-profiles > div > p > strong {
    color: #fff;
    display: block;
    line-height: 150%;
}
#staff-profiles > div > p > em {
    color: #fff;
    display: block;
    line-height: 150%;
}


/* CONTACT US */

#contact-page {
    display: flex;
    justify-content:space-evenly;
    column-gap: 2em;
    margin: 0 auto;
    padding:0 4em;
    max-width: 1920px;
}
#contact-page > div {
    padding: 2em;
}
#contact-details {
    width: 100%;
    padding-top: 100%;
    position: relative;
}
#contact-details hr {
    border: none;
    border-bottom: 1px solid #ffcc00;
}

#contact-map {
    width: 100%;
    padding-top: 100%;
    position: relative;
}
#contact-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact-form {
    width: 100%;
    padding: 5% 10%;
    background-color: #F6F6F6;
    color: #333;
}
#contact-form p {
    color: inherit;
}
#contact-form p {
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 2em;
    line-height: 100%;
    font-weight: 500;
}

#contact-form form input,
#contact-form form textarea,
#contact-form form button {
    display: block;
    border: none;
    background: transparent;
    width: 100%;
    color: inherit;
}

#contact-form label {
    font-size: 14px;
    color: #666;
}
#contact-form form input,
#contact-form form textarea {
    font-size: 15px;
    padding: 10px 15px;
    border: 2px solid rgba(0,0,0,0.1);
    margin: 0 0 15px 0;
}

#contact-form form button {
    font-size: 20px;
    width: auto;
    background-color: #ffcc00;
    color: #333;
    line-height: 50px;
    padding:0 15px;
    border-radius: 5px;
}
#contact-form form button:hover {
    background-color: #333;
    color: #ffcc00;}


    /* BOOKING */

    #booking-page {
        display: flex;
        justify-content:space-evenly;
        column-gap: 2em;
        margin: 0 auto;
        padding:0 4em;
        max-width: 1920px;
    }
    #booking-page > div {
        padding: 2em;
    }
    #booking-details {
        width: 100%;
        padding-top: 100%;
        position: relative;
    }
    #booking-details hr {
        border: none;
        border-bottom: 1px solid #ffcc00;
    }
    
    #booking-map {
        width: 100%;
        padding-top: 100%;
        position: relative;
    }
    #booking-map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    #booking-form {
        width: 100%;
        padding: 5% 10%;
        background-color: #F6F6F6;
        color: #333;
    }
    #booking-form p {
        color: inherit;
    }
    #booking-form p {
        margin: 0 0 30px 0;
        padding: 0;
        font-size: 2em;
        line-height: 100%;
        font-weight: 500;
    }
    
    #booking-form form input,
    #booking-form form textarea,
    #booking-form form button {
        display: block;
        border: none;
        background: transparent;
        width: 100%;
        color: inherit;
    }
    
    #booking-form label {
        font-size: 14px;
        color: #666;
    }
    #booking-form form input,
    #booking-form form textarea {
        font-size: 15px;
        padding: 10px 15px;
        border: 2px solid rgba(0,0,0,0.1);
        margin: 0 0 15px 0;
    }
    
    #booking-form form button {
        font-size: 20px;
        width: auto;
        background-color: #ffcc00;
        color: #333;
        line-height: 50px;
        padding:0 15px;
        border-radius: 5px;
    }
    #booking-form form button:hover {
        background-color: #333;
        color: #ffcc00;}


/* NEWSLETTER */

#home-subscribe {
    padding:45px 15px;
    background-color: #4F8A8B;
}

#home-subscribe-content {
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
    justify-content: space-around;
}

#home-subscribe-content h3 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #fff;
}
#home-subscribe-content h3 small {
    display: block;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

#home-subscribe-content form {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
#home-subscribe-content form input {
    color: #fff;
    margin: 0 15px 0 0;
    background: transparent;
    padding: 0;
    border: none;
    border-bottom:2px solid rgba(255,255,255,0.25);
    height: 45px;
    width: 256px;
    font-size: 20px;
}
#home-subscribe-content form input::placeholder {
    color: #fff;
}
#home-subscribe-content form button {
    margin: 0;
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
    height: 50px;
    padding: 0 15px;
    width: 100px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
}
#home-subscribe-content form button:hover {
    background:#fff;
    color: #4F8A8B;
}


/* FOOTER */
footer {
    line-height: 75px;
    display: flex;
    justify-content: space-between;
}

#footer-copyright {
    padding: 0 15px;
}
#footer-copyright p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

#footer-social {
    padding: 0 15px;
}
#footer-social ul {
    margin: 0;
    display: flex;
    margin-right: 0;
    padding: 0;
    list-style: none;
}
#footer-social ul li a {
    padding: 0 10px;
    font-size: 1.5em;
    opacity: 0.8;
    color: #07031A;
}
#footer-social ul li a:hover {
    opacity: 1;
}


/* RESPONSIVE */


@media screen and (max-width:1024px) {

    /*HEADER*/
    #primary-button a.contact {
        width: 55px;
        height: 55px;
        border-radius: 100%;
        background-color: #eee;
        text-align: center;
    }
    #primary-button a.contact::after {
        content: "";
    }

    
    main {
        background-color: #F6F6F6;
    }
    
        
    #packages .headline-wrapper .headline-inner {
        margin: 15px auto 0 auto;
    } 
    #packages .headline-wrapper .headline-inner h1 {
        font-size: 2em;
    }
    #packages .headline-wrapper .headline-inner p {
        font-size: 1em;
    }
    
    #package-list {
        padding: 1em;
        column-gap: 1em;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }
    #package-list > div {
        clear: both;
        padding: 1em 1em 1em 1em;
        margin-bottom: 1em;
        width: 100%;
        border:none;
        background-color: #fff;
    }
}


@media screen and (max-width:812px) {
    
    .primary-nav {
        position: fixed;
        top: 100%;
        left: 0%;
        transform: translate(0%,-100%);
        width: 100%;
        background-color: #ffcc00;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    .primary-nav ul {
        margin: 10px 0;
        height: 55px;
        line-height: 55px;
        display: flex;
        justify-content: space-evenly;
        background-color: #fff;
        border-radius: 5px;
    }
    .primary-nav ul li.top-link {
        display:block;
    }
    
    #home-hero {
        width: 100%;
        padding-top: 312px;
        background-size: cover;
        position: relative;
        transition: all 1s ease-in;
        background: url("../images/pexels-pixabay-259447.jpg") no-repeat center center;
    }

    #home-hero > h1 {
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%,-0%);
        white-space: nowrap;
        width: auto;
        text-align: left;
        margin: 0 auto;
        padding:30px;
        line-height: 90%;
        font-size: 30px;
        color: #fff;
        text-shadow: 2px 2px rgba(0,0,0,0.75);
        background: rgba(255,204,0,0.95);
        border-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #home-gallery {
        clear: both;
        line-height: 0;
        column-count: 4;
        column-gap:0;
        margin: 1em;
    }

    /* NEWSLETTER */

    #home-subscribe {
        padding:30px 15px;
        background-color: #4F8A8B;
    }

    #home-subscribe-content {
        display: block;
        text-align: center;
    }

    #home-subscribe-content h3 {
        font-size: 20px;
        margin: 0 0 30px 0;
    }
    #home-subscribe-content h3 small {
        font-size: 14px;
    }

    #home-subscribe-content form {
        margin: 0;
        padding: 0;
        font-weight: 400;
    }
    #home-subscribe-content form input {
        height: 30px;
        max-width: 256px;
        font-size: 14px;
    }
    #home-subscribe-content form button {
        height: 30px;
        font-size: 14px;
    }
    

    footer {
        margin-bottom: 75px;
    }

}

@media screen and (max-width:640px) {

    /*HEADER*/
    header {
        height: 75px;
    }


    /* ON PAGE */
    .home-link a i,
    .trip-link a i,
    .team-link a i,
    .top-link a i {
        font-size: 25px;
        line-height: 55px;
    }
    .home-link a span,
    .trip-link a span,
    .team-link a span,
    .top-link a span {
        display: none;
    }

    
    #primary-button a.call-to-action {
        width: 55px;
        height: 55px;
        border-radius: 100%;
    }
    #primary-button a.call-to-action::after {
        content: "";
    }
    #primary-button a.contact {
        width: 55px;
        height: 55px;
        border-radius: 100%;
    }
    #primary-button a.contact::after {
        content: "";
    }

    /*SECTIONS*/ 

    section {
        padding:0 10px;
    }
        
    .headline-wrapper .headline-inner {
        margin: 15px auto 0 auto;
    } 
    .headline-wrapper .headline-inner h1 {
        font-size: 2em;
    }
    .headline-wrapper .headline-inner h2 {
        margin: 0;
        padding: 0;
        font-size: 1.5em;
        line-height: 1em;
    }
    .headline-wrapper .headline-inner p {
        font-size: 1em;
        padding: 5px 0;
    }

    #home-trips {
        display: block;
    }
    
    #home-gallery {
        clear: both;
        line-height: 0;
        column-count: 2;
        column-gap:0;
        margin: 1em;
    }
    
    #package-list {
        padding: 1em;
        display: block;
        column-gap: 1em;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }
    #package-list > div {
        clear: both;
        padding: 1em 1em 75px 1em;
        margin-bottom: 1em;
        width: 100%;
        border:none;
        background-color: #fff;
    }
        
    /* TESTIMONIALS */

    #home-testimonials {
        column-count: 2;
        column-width: 50%;
        column-gap: 1rem;
    }
    #home-testimonials .profile .face {
        margin: 0 auto 10px auto;
        width: 125px;
        height: 125px;
        position: relative;
        overflow: hidden;
        border-radius:75px!important;
    }
    #home-testimonials .profile .face img {
        width: 100%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        filter: grayscale(1);
    }
    #home-testimonials .profile p {
        font-size: 12px;
        font-weight: 300;
    }
    #home-testimonials .profile em {
        font-size: 14px;
        font-weight: 500;
    }
    #home-testimonials .profile em::before {
        content: open-quote;
    }
    #home-testimonials .profile em::after {
        content: close-quote;
    }

    #contact-page {
        display: block;
        margin: 0 auto;
    }


    footer {
        border-top:5px solid #ffcc00;
        background-color: #eee;
        display: block;
    }
    

    #footer-copyright {
        text-align: center;
        padding: 15px 15px;
        line-height: 12px;
    }
    #footer-copyright p {
        margin: 0;
        padding: 0;
        font-size: 11px;
    }

    #footer-social {
        display: flex;
        text-align: center;
        margin: 0 auto;
        padding: 0 15px;
    }
    #footer-social ul {
        margin: 0 auto;
        display: flex;
        padding:0 0 15px 0;
        list-style: none;
        line-height: 12px;
    }
    #footer-social ul li a {
        padding: 0 10px;
        font-size: 1.5em;
        opacity: 0.8;
        color: #07031A;
    }
    #footer-social ul li a:hover {
        opacity: 1;
    }
}
