@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

header {
    background-color: aqua;
}

section {
    background-color: antiquewhite;
}

footer {
    background-color: azure;
}

@media screen and (max-width:320px) {
    header {
        background-color: #eee;
    }

    section {
        background-color: #ccc;
    }

    footer {
        background-color: #eee;
    }
}